{% extends 'layout.html' %}

{% block head %}
  {{ head|raw }}
{% endblock %}

{% block content %}

<p>Embed with: <textarea class="copyable pure-u-2-5" readonly>&lt;a href="https://gitteri.co/gitter/&lt;user&gt;/&lt;repo&gt;/"&gt;&lt;img src="https://gitteri.co/gitter/&lt;user&gt;/&lt;repo&gt;.png"&gt;&lt;/a&gt;</textarea></p>

<p>Or in Markdown: <textarea class="copyable pure-u-2-5" readonly>[![Gitter](https://gitteri.co/gitter/&lt;user&gt;/&lt;repo&gt;.png)](https://gitteri.co/gitter/&lt;user&gt;/&lt;repo&gt;/)</textarea></p>

<div class="pure-g examples">
  <div class="pure-u-1-2">
    <p><a href="https://gitteri.co/gitter/express.png">https://gitteri.co/gitter/express.png</a></p>
    <a href="https://gitteri.co/gitter/express/"><img src="/gitter/express.png"></a>
  </div>

  <div class="pure-u-1-2">
    <p><a href="https://gitteri.co/gitter/level.png">https://gitteri.co/gitter/level.png</a></p>
    <a href="https://gitteri.co/gitter/level/"><img src="/gitter/level.png"></a>
  </div>

  <div class="pure-u-1-2">
    <p><a href="https://gitteri.co/gitter/ender.png">https://gitteri.co/gitter/ender.png</a></p>
    <a href="https://gitteri.co/gitter/ender/"><img src="/gitter/ender.png"></a>
  </div>

  <div class="pure-u-1-2">
    <p><a href="https://gitteri.co/gitter/after.png">https://gitteri.co/gitter/after.png</a></p>
    <a href="https://gitteri.co/gitter/after/"><img src="/gitter/after.png"></a>
  </div>
</div>

{% include "./makemeone.html" %}

<h3>Compact</h3>

<p>Some people don't really appreciate too much bling, so here's <code>compact=true</code>:</p>

<p><a href="https://gitteri.co/gitter/through.png?compact=true">https://gitteri.co/gitter/through.png?compact=true</a></p>
<a href="https://gitteri.co/gitter/through/"><img src="/gitter/through.png?compact=true"></a>

<h3>Mini</h3>

<p><i>Really</i> don't like clutter but don't want to be left out? Try <code>mini=true</code>:</p>

<p><a href="https://gitteri.co/gitter/readable-stream.png?mini=true">https://gitteri.co/gitter/readable-stream.png?mini=true</a></p>
<a href="https://gitteri.co/gitter/readable-stream/"><img src="/gitter/readable-stream.png?mini=true"></a>

<!--
<h3>Download counts</h3>

<p>Add <code>downloads=true</code> to the image URL query string:</p>

<p><a href="https://gitteri.co/gitter/moment.png?downloads=true">https://gitteri.co/gitter/moment.png?downloads=true</a></p>
<a href="https://gitteri.co/gitter/moment/"><img src="/gitter/moment.png?downloads=true"></a>

<h3>Star counts</h3>

<p>Add <code>stars=true</code> to the image URL query string:</p>

<p><a href="https://gitteri.co/gitter/ecstatic.png?stars=true">https://gitteri.co/gitter/ecstatic.png?stars=true</a></p>
<a href="https://gitteri.co/gitter/ecstatic/"><img src="/gitter/ecstatic.png?stars=true"></a>

<p>Or both stars and downloads:</p>

<p><a href="https://gitteri.co/gitter/async.png?downloads=true&stars=true">https://gitteri.co/gitter/async.png?downloads=true&amp;stars=true</a></p>
<a href="https://gitteri.co/gitter/async/"><img src="/gitter/async.png?downloads=true&stars=true"></a>

<h3>Download histogram badges</h3>

<p>So, we have the download data per-day so why not do something interesting with it?</p>

<p>Embed with: <b><code>&lt;a href="https://gitteri.co/gitter/&lt;package&gt;/"&gt;&lt;img src="https://gitteri.co/npm-dl/&lt;package&gt;.png"&gt;&lt;/a&gt;</code></b></p>

<p>Or in Markdown: <b><code>[![NPM](https://gitteri.co/gitter/&lt;package&gt;.png)](https://gitteri.co/npm-dl/&lt;package&gt;/)
</code></b></p>

<p><a href="https://gitteri.co/npm-dl/xtend.png">https://gitteri.co/npm-dl/xtend.png</a></p>
<a href="https://gitteri.co/gitter/xtend/"><img src="/npm-dl/xtend.png"></a>

<p>By adding <code>months=X</code> to the query string where <code>X</code> is a number between 1 and 12, you can change the range:</p>

<p><a href="https://gitteri.co/npm-dl/xtend.png?months=9">https://gitteri.co/npm-dl/xtend.png?months=9</a></p>
<a href="https://gitteri.co/gitter/xtend/"><img src="/npm-dl/xtend.png?months=9"></a>

<p><a href="https://gitteri.co/npm-dl/xtend.png?months=6">https://gitteri.co/npm-dl/xtend.png?months=6</a></p>
<a href="https://gitteri.co/gitter/xtend/"><img src="/npm-dl/xtend.png?months=6"></a>

<p><a href="https://gitteri.co/npm-dl/xtend.png?months=3">https://gitteri.co/npm-dl/xtend.png?months=3</a></p>
<a href="https://gitteri.co/gitter/xtend/"><img src="/npm-dl/xtend.png?months=3"></a>

<p><a href="https://gitteri.co/npm-dl/xtend.png?months=1">https://gitteri.co/npm-dl/xtend.png?months=1</a></p>
<a href="https://gitteri.co/gitter/xtend/"><img src="/npm-dl/xtend.png?months=1"></a>
-->

{% endblock %}
